body {
  background-image: url("../images/background-board-carpentry-326333.jpg");
  background-size: cover;
  background-color: #21170e;
  background-blend-mode: soft-light;

}

.intro{
 text-align: center;
}

.container{
	color:  #b07c4f;
	background-image: url("../images/architecture-dark-empty-1576405.jpg");
	background-size: cover;
	background-color: rgba(0,0,0,0.5);
	margin-top: 0px;
	margin-left: 250px;
	padding-bottom: 50px;
	padding-top: 50px;
	padding-left: 100px;
	position: absolute;
	background-blend-mode: soft-light;
	width:100%;
}


.work{
	padding-bottom: 50px;

}

.Skills{
	margin-top:30px;

}

#intro{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	position: sticky;
	color: #828c51
}


.points{
	padding-top: 50px;
}

.points h2{
	color: #A6C36F;
	font-family: 'Lato', sans-serif;
}

.points ul{
	color:#BEEF9E;
	font-family: 'Open Sans', sans-serif;
}